<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    .hello:hover{
      height:250px;
      width:250px;

    }
    </style>
  </head>
  <body >



    <center>
      <table style="color:black"cellpadding="100" cellspacing="20" >
        <tr>
          <td><a  href="/user"><img class="hello" src="https://i.ibb.co/Q6Z89jk/loginn.png" height="200" alt=""></a> <br><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCustomer Details</h3> </td>
          <td><a href="/spanew"><img class="hello" src="https://i.ibb.co/nQvLBvM/spa.png" height="200" alt=""></a><br><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Spa Details</h3></td>
          <td><a href="/gymnew"><img class="hello" src="https://i.ibb.co/M6VkCjy/gym.png" height="200" alt=""></a><br><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Gym Details</h3></td>

        </tr>
        <tr>
          <td><a href="/transportation"><img class="hello" src="https://i.ibb.co/jbfDywV/car.png" height="200" alt=""></a><br><h3>&nbsp&nbsp&nbsp&nbsp&nbsp Transportation Details</h3></td>
          <td><a href="/foodnew"><img class="hello" src="https://i.ibb.co/4stjjn2/men2.png" height="170" alt=""></a><br><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Dining Details</h3></td>
          <td><a href="/services"><img class="hello" src="https://i.ibb.co/1bH2TDM/accomodation.png" height="170" alt=""></a><br><h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Room Services</h3></td>

        </tr>

      </table>
      </center>
  </body>
</html>
